.surface-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-button {
    width: auto; /* Permite que o botão tenha largura conforme o conteúdo */
    text-align: center;
}
