<p-messages [(value)]="messages" [closable]="false"></p-messages>

<div class="reset-password-container surface-card p-4 shadow-2 border-round w-full lg:w-6">
  <h2 class="text-center">Redefinir Senha</h2>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="password" class="block text-white-900 font-medium mb-2">Nova Senha:</label>
      <input pInputText id="password" formControlName="password" type="password" placeholder="Insira sua nova senha..." class="w-full mb-3" />
      <div *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
        A senha deve ter pelo menos 6 caracteres.
      </div>
    </div>

    <div class="p-field">
      <label for="confirmPassword" class="block text-white-900 font-medium mb-2">Confirme a Nova Senha:</label>
      <input pInputText id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirme sua nova senha..." class="w-full mb-3" />
      <div *ngIf="resetForm.errors?.['notMatching'] && resetForm.get('confirmPassword')?.touched">
        As senhas não coincidem.
      </div>
    </div>

    <p-button 
      label="Redefinir Senha" 
      type="submit" 
      [disabled]="resetForm.invalid"
      severity="success"
      class="w-full">
    </p-button>
  </form>

  <div *ngIf="successMessage">
    <p-messages [value]="[{ severity: 'success', summary: 'Sucesso', detail: successMessage }]" [closable]="false"></p-messages>
  </div>
  <div *ngIf="errorMessage">
    <p-messages [value]="[{ severity: 'error', summary: 'Erro', detail: errorMessage }]" [closable]="false"></p-messages>
  </div>
</div>
